:root {
  --bgColor: #02021b;
  --blueColor: #004471;
  --purpleColor: #7e006b;
  --redColor: #960037;
  --greenColor: rgb(0, 231, 111);
  --grayColor: rgb(154, 154, 154);
  --whiteColor: antiquewhite;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  transition: transform 1s ease-in-out;
}
body {
  background-color: var(--bgColor);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.container {
  position: relative;
}

input[type='range'] {
  width: 300px;
  margin: 18px 0;
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none;
}

input[type='range'] + label {
  background-color: #fff;
  position: absolute;
  top: -25px;
  left: 110px;
  width: 80px;
  padding: 5px 0;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Chrome & Safari */
input[type='range']::-webkit-slider-runnable-track {
  background: var(--redColor);
  width: 100%;
  height: 7px;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid var(--redColor);
  margin-top: -5px;
  cursor: pointer;
}

/* Firefox */
input[type='range']::-moz-range-track {
  background: var(--redColor);
  border-radius: 4px;
  width: 100%;
  height: 13px;
  cursor: pointer;
}
input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid var(--redColor);
  margin-top: -7px;
  cursor: pointer;
}

/* IE */
input[type='range']::-ms-track {
  background: var(--redColor);
  border-radius: 4px;
  width: 100%;
  height: 13px;
  cursor: pointer;
}

input[type='range']::-ms-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid var(--redColor);
  margin-top: -7px;
  cursor: pointer;
}

.label{
  background-color: #fff;
  padding: .2rem 1rem;
  margin-bottom: .7rem;
  border-radius: 5px;
  left: 20px;
}